:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.brand-text {
  font-size: 18px;
  font-weight: 600 !important;
}

.main-sidebar {
  transition: width 0.3s ease-in-out !important;
}

.preloader {
  transition: opacity 0.5s ease;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.login-logo span{
  font-size: 1.2rem;
}

.dt-search{
  display: inline-block;
  float: inline-end;
}

.dt-buttons, .dt-search {
  margin: 0.5rem;
}
.dt-paging{
  display: inline-block;
  float: inline-end;
  margin: .2rem !important;
}
.dt-info{
  display: inline-block;
  float: inline-start;
  margin: .5rem;
}

/* .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 18px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px !important;
    padding-right: 8px !important;
} */
.select2-container--default .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
  padding: 0.4rem 0.5rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: inherit !important;
}

.top-48 {
  top: 48px !important;
}

.max-h-calc {
  max-height: calc(100vh - 96px);
}

div.dt-container > div.row {
  margin-bottom: 0rem;
}